.skillsContainer{
     
    height: 5%; 
    width: 98%;
    border-radius: 30px;
    padding: 1em 1em ;
    margin: 10px;
    /* border: 3px solid var(--main); */
    display: flex;
    justify-content: center; 
    align-items: center;
    justify-content: center;
    flex-flow: row wrap;

}

.skill{
    display: inline-flex;
    flex-flow: column;
    justify-content: center;
    text-align: center;
    margin: 0 2%;
}

.skill span{
    margin: 2%;
}
.skillLogo   {
    height: 3rem;
    width: 3rem;
    width: fit-content;
}

.aboutMe {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-flow: row wrap;
}

/* just the text */
#bio {
    width: 70%;
    position: relative;
    margin: 2%;
    text-align: justify ;
    line-height: 1.3em;
}
/* just the pic */
#picContainer {
    height: 50%;
    width: 25%;
    border-radius: 30px; 
    display: flex;
}
.picOfMe {
    width: 200px;
    height: 100%;
    object-fit: cover;
    border-radius: 30px;
    margin: auto;
}

strong {
    font-weight: 550;
    color: var(--main);
}

#bio a {
    color: var(--main);
}

@media screen and (max-width: 850px) {
    .aboutMe {
        width: 100%;
        display: flex;
        justify-content: center;
        flex-flow: row wrap;
    }
    #bio {
        width: 50%;
    }
    #picContainer {
        height: 45%;
        width: 40%;
        border-radius: 30px; 
        display: flex;
    }
    
}

@media screen and (max-width: 550px) {
    .aboutMe {
        width: 100%;
    }
    #bio {
        width: 100%;
        margin-bottom: 0;

    }
    #picContainer {
        height: 45%;
        width: 50%;
        border-radius: 30px; 
        display: flex;
    }
    
}

@media screen and (max-width: 280px) {

    #picContainer {
        height: 45%;
        width: 100%;
        border-radius: 30px; 
        display: flex;
    }

}