

.allProjectsContainer {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.projectsContainer {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 100%;
    height: min-content;
    border-radius: 20px;
    padding: 0.5em;
    margin: 0.5em;
    background-color: var(--main);
    border: 3px solid var(--primary);
}

.projContainer{
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    justify-content: space-around;

}

.projWindowContainer{
    width: 60%;
    margin: 1em;
}

.projInfoContainer{
    margin: 1em;
    width: 30%;
    color: var(--background);

}

.windowContainer {
    margin: 1em;
    /* height: 98%; */
    width: 100%;
    background-color: var(--background);
    border: 3px solid var(--primary);
    border-radius: 18px;
    border-collapse: separate; 
    margin: auto;
    position: relative;
    top: 1%;
    display: flex;
    flex-flow: column;
}
@media screen and (max-width: 1980) {
    
}



.purpleBorder {
    border: 3px solid var(--purple);
}

.purpleBackground {
    background-color: var(--purple);
}

.secondaryBorder {
    border: 3px solid var(--secondary);
}

.secondaryBackground {
    background-color: var(--secondary);
}

.greenBorder {
    border: 3px solid var(--green);
}

.greenBackground {
    background-color: var(--green);
}

