* {
    box-sizing: border-box;
}

/* NO NOT REORDER !!! JS is expecting ':root {}' to be at cssRules[1] */
/* These colours must remain hexadecimal colours for JS */

/* Accent Colours */
:root {
    --primary: #e4a8ec;
    --secondary: #cadf92;
    --green: #56c281;
    --yellow: #FFD913;
    --orange: #f8b281;
    --red: #f191bb;
    --purple: #9e91f1;
}

/* accent and base colours are seperated for easier ease of JS access to accent colours 

/* Base Colours */
:root {
    --main: #3c5bce;
    --background: #fff0e4;
    --mainText: #000000;
}


/* Accent Colours */
/* :root {
    --primary: #92c2bc;
    --secondary: #1ee9e6;
    --green: #60ce83;
    --yellow: #ffd813;
    --orange: #f49049;
    --red: #da7496;
    --purple: #8d97f1;
} */

/* Base Colours */
/* :root {
    --main: #2b77bf;
    --background: #fdf5ef;
    --mainText: #000000;
} */
 




body {
    font-family: 'Work Sans', sans-serif;
    font-size: 1rem;
    margin: 0 5%;
    background-color: var(--background);
    color: var(--mainText);
    /* border: 1px solid black; */
}

header {
    height: 6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: column, wrap;
    font-family: 'Sansita', sans-serif;
    border-bottom: 2px solid var(--mainText);
    /* border: 1px solid rgb(43, 207, 87); */


}

#headerTitle {
    font-family: 'Sansita', sans-serif;
    font-size: 2rem;
    font-weight: 700;
    /* color: #000000; */
    /* border: 1px solid rgb(221, 105, 209); */


}

h1 {
    font-family: 'Yeseva One', Serif;
    font-size: 3rem;
    /* color: #000000; */
}




nav {
    font-size: 1.25rem;
    letter-spacing: 0.05em;
    display: inline-flex;
    justify-content: space-between;
    width: 15%;
    /* border: 1px solid rgb(221, 105, 209); */
}

a {
    text-decoration: none;
    cursor: pointer;
    /* color: #000000; */
}

a:visited {
    color: var(--mainText);
}

a:hover {
    color: var(--main);
    /* animation: textRainbow 1.3s linear infinite; */

}


aside{
    font-size: smaller;
    font-style: italic;
}

#tumbleStarContainer {
    height: 3%;
    width: 90%;
    overflow: hidden;
    display: inline-flex;
    justify-content: center;
    margin: 3% 5%;
    letter-spacing: 0.5em;
    /* border: 1px solid rgb(78, 68, 218); */
}

#tumbleStars {
    color: var(--main);
}


/* THIS STYLES THE STARS IN TUMBLESTARS <p>>
THAT <p> IS REPLACED WITH INDIVIDUAL SPANS FOR EACH STAR EACH WITH THE CLASS tumbleStar 
THEY HAVE INDIVIDUAL NUMBERED IDs SUCH AS STAR1  */
.tumbleStar {
    /* color: var(--primary); */
    font-size: 1.5rem;
}



.mainSection {
    height: fit-content ;
    width: 98%;
    border-radius: 30px;
    padding: 2em 1em ;
    margin: 10px;
    border: 3px solid var(--mainText);
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-flow: column;
}

.sectionTitle {
    margin: 0 auto 3rem auto;
}


.rainbowStackContainer {
    height: 95%;
    width: 90%;
    /* border: 3px solid rgb(136, 120, 229); */
    border-radius: 20px;
    padding: 30px;
    margin: 10px;
    position: relative;
    right: 1.225em;
    background-color: var(--main);
    border: 3px solid var(--primary);
    box-shadow: 10px -10px 0 -3px var(--main), 10px -10px var(--green),
        20px -20px 0 -3px var(--main), 20px -20px var(--yellow),
        30px -30px 0 -3px var(--main), 30px -30px var(--orange),
        40px -40px 0 -3px var(--main), 40px -40px var(--red);
}

.rainbowStackContainer:hover {
    animation: stackShadowWave 1s linear infinite;
}


@keyframes stackShadowWave {
    0% {
        border: 3px solid var(--primary);
        box-shadow: 10px -10px 0 -3px var(--main), 10px -10px var(--green),
            20px -20px 0 -3px var(--main), 20px -20px var(--yellow),
            30px -30px 0 -3px var(--main), 30px -30px var(--orange),
            40px -40px 0 -3px var(--main), 40px -40px var(--red);
    }

    20% {
        border: 3px solid var(--red);
        box-shadow: 10px -10px 0 -3px var(--main), 10px -10px var(--primary),
            20px -20px 0 -3px var(--main), 20px -20px var(--green),
            30px -30px 0 -3px var(--main), 30px -30px var(--yellow),
            40px -40px 0 -3px var(--main), 40px -40px var(--orange);
    }

    40% {
        border: 3px solid var(--orange);
        box-shadow: 10px -10px 0 -3px var(--main), 10px -10px var(--red),
            20px -20px 0 -3px var(--main), 20px -20px var(--primary),
            30px -30px 0 -3px var(--main), 30px -30px var(--green),
            40px -40px 0 -3px var(--main), 40px -40px var(--yellow);
    }

    60% {
        border: 3px solid var(--yellow);
        box-shadow: 10px -10px 0 -3px var(--main), 10px -10px var(--orange),
            20px -20px 0 -3px var(--main), 20px -20px var(--red),
            30px -30px 0 -3px var(--main), 30px -30px var(--primary),
            40px -40px 0 -3px var(--main), 40px -40px var(--green);
    }

    80% {
        border: 3px solid var(--green);
        box-shadow: 10px -10px 0 -3px var(--main), 10px -10px var(--yellow),
            20px -20px 0 -3px var(--main), 20px -20px var(--orange),
            30px -30px 0 -3px var(--main), 30px -30px var(--red),
            40px -40px 0 -3px var(--main), 40px -40px var(--primary);
    }

    100% {
        border: 3px solid var(--primary);
        box-shadow: 10px -10px 0 -3px var(--main), 10px -10px var(--green),
            20px -20px 0 -3px var(--main), 20px -20px var(--yellow),
            30px -30px 0 -3px var(--main), 30px -30px var(--orange),
            40px -40px 0 -3px var(--main), 40px -40px var(--red);
    }

}

/*  */

.windowContainer {
    height: 98%;
    width: 95%;
    background-color: var(--background);
    border: 3px solid var(--primary);
    border-radius: 18px;
    border-collapse: separate; 
    margin: auto;
    position: relative;
    top: 1%;
    display: flex;
    flex-flow: column;
}

.tabBarContainer {
    height: 2.5rem;
    width: 100%;
    /* background-color: #cf2ade; */
    border-radius: 14px 14px 0 0; 
    display: inline-flex;
    justify-content: space-between;
}



.starsTabBarContainer {
    background-color: var(--background);
    /* border-radius: 13px 0 13px 0;  */
    border-radius: 13px 0 0 0; 
    width: 70px;
    z-index: 10;
}


.headingTabBarContainer {
    background-color: var(--primary);
    width: 100%;
    z-index: 10;
}

.negSpaceTabBarContainer {
    /* background-color: #fff3ea; */
    border-radius: 0 13px 0 0; 
    width: 340px;
    z-index: 10;
}

.starsTabBar {
    background-color: var(--primary);
    border-radius: 13px 0 13px 0; 
    width: 70px;
    height: 100%;
    z-index: 10;
}

.headingTabBar {
    background-color: var(--background);
    width: 100%;
    height: 85%;
    z-index: 10;
    position: relative;
    top: 6px;;
    border-radius: 13px 13px 0 0; 

}

.negSpaceTabBar {
    background-color: var(--primary);
    border-radius: 0 13px 0 13px; 
    width: 340px;
    height: 100%;
    z-index: 10;
}


.tabStars {
    display: inline-flex;
    position: relative;
    top: 0.7em;
    left: 0.5em;
    align-items: center;
    height: auto;
    width: auto;
    font-size: 1em;
}

.tabStar{
    margin: 0.15em;
}

.tabStar1{
    /* --red: #d55be0; */
    color:  hsl(295, 74%, 61%);

}

.tabStar2{
    color: var(--yellow);
}

.tabStar3{
    color: #44aa6d;
    /* color: var(--green); */

}


.tabHeadingWrapper {
    display: inline-flex;
    flex-flow: nowrap;
    position: relative;
    top: 0.5em;
    left: 1em;
    align-items: center;
    height: auto;
    width: auto;
    font-size: 1em;
}

.tabHeading {
    font-size: 1em;
    letter-spacing: .05em;
    
}


.latestWorkImgWrapper {
    margin: 3%;
    height: 80%;
    width: 95%;
    position: relative;
    object-fit: cover;
    /* border: 3px solid var(--primary);
    border-radius: 10px; */
    z-index: 100;
}

.latestWorkImg{
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
    border: 3px solid var(--primary);
    border-radius: 10px;


}




.buttonContainer {
    display: flex;
    flex-flow: row;
    align-items: center;
    margin: 5px;
    padding: 0.8em;
    height: 3em;
    /* border: 2px solid plum; */
}
  
  .buttonWrapper {
    /* height: 3em; */
    padding: 1em;
    border-radius: 0.75em;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid var(--mainText);
    background-color: var(--main);
    position: relative;
    /* opacity: 0.75; */
    box-shadow: 2px 2px var(--primary), 4px 4px var(--green), 6px 6px var(--yellow), 8px 8px var(--orange), 10px 10px var(--red), 12px  12px var(--mainText);
    transition: all 300ms; 
  
}
  
  a.buttonText , input[type="submit"]{
    color: #fff3ea;
  }
  
  


  .buttonWrapper:hover {
    animation: boxShadowWave 1s linear infinite;
    /* background-color: #6582e9; */
    background-color: var(--purple);
    transition: background-color 1s linear ;
}


 .buttonWrapper:active{
    /* margin-top: 10px;
    margin-left: 10px; */
    font-size:  0.9em;
    padding: 0.9em;
    border-radius: 0.75em;
    /* box-shadow: 0.1px 0.1px var(--primary), 0.2px 0.2px var(--green), 0.3px 0.3px var(--yellow), 0.4px 0.4px var(--orange), 0.5px 0.5px var(--red), 0.6px  0.6px var(--mainText); */
    transition: all 300ms linear; 

 
}


@keyframes boxShadowWave {
    0% {

        box-shadow: 2px 2px var(--red), 4px 4px var(--primary), 6px 6px var(--green), 8px 8px var(--yellow), 10px 10px var(--orange), 12px  12px var(--mainText);
    }
    20% {

        box-shadow: 2px 2px var(--orange), 4px 4px var(--red), 6px 6px var(--primary), 8px 8px var(--green), 10px 10px var(--yellow), 12px  12px var(--mainText);
    }
    40% {
        box-shadow: 2px 2px var(--yellow), 4px 4px var(--orange), 6px 6px var(--red), 8px 8px var(--primary), 10px 10px var(--green), 12px  12px var(--mainText);
    }
    60% {
        box-shadow: 2px 2px var(--green), 4px 4px var(--yellow), 6px 6px var(--orange), 8px 8px var(--red), 10px 10px var(--primary), 12px  12px var(--mainText);
    }
    80% {
        box-shadow: 2px 2px var(--primary), 4px 4px var(--green), 6px 6px var(--yellow), 8px 8px var(--orange), 10px 10px var(--red), 12px  12px var(--mainText);
    }
    100% {
        box-shadow: 2px 2px var(--red), 4px 4px var(--primary), 6px 6px var(--green), 8px 8px var(--yellow), 10px 10px var(--orange), 12px  12px var(--mainText);
    }
}


@keyframes textRainbow {
    0% {
        color: var(--yellow);
    }

    20% {
        color: var(--yellow);
    }

    40% {
        color: var(--orange);
    }

    60% {
        color: var(--red);
    }

    80% {
        color: var(--primary);
    }

    100% {
        color: var(--green);
    }
}



#responseToSubmitContainer {
    display: none;
}